.container {
  position: relative;
  margin-top: 6rem;
  width: 100%;
  background-color: rgb(230, 196, 73);
  height: auto;
  padding: 1rem 0rem;
  text-align: center;
  box-shadow: 0 0 10px rgb(187, 185, 67);
}

.header {
  font-weight: bold;
  color: brown;
  font-size: 1.2rem;
  text-decoration: underline;
  text-underline-offset: 5px;
  text-decoration-thickness: 2px;
  margin-bottom: 0.3rem;
}

.link {
  margin: 0rem 0.2rem;
  color: brown;
  font-size: 1rem;
  font-weight: bold;
  transition: all 0.1s ease-in-out;
}

.link:hover {
  font-size: 1.2rem;
  background-color: rgb(230, 196, 73);
}

.eatsyIcon {
  width: 5.5rem;
  height: auto;
  border-radius: 0.7rem;
  margin-bottom: 0rem;
  margin-top: -0.5rem;
}

.eatsyIcon:hover {
  margin-top: 0rem;
  animation: scooterMove 3s ease-in-out;
}

.innerButton {
  margin-top: 0.5rem;
  border: none;
  cursor: pointer;
  background-color: inherit;
}

.icon,
.instaIcon {
  color: rgb(16, 80, 16);
  font-size: 2.6rem;
  transition: all 0.1s ease-in-out;
}

.icon:hover {
  transform: scale(1.3);
  color: rgb(49, 124, 199);
  background-color: rgb(230, 196, 73);
  border-radius: 0.2rem;
}

.instaIcon:hover {
  transform: scale(1.3);
  background-color: rgb(230, 196, 73);
  color: rgb(133, 52, 52);
  border-radius: 0.55rem;
}

.bottom {
  margin-top: -0.5rem;
  color: brown;
  font-weight: bolder;
}

@media (max-width: 1050px) {
  .eatsyIcon {
    width: 5.5rem;
    margin-bottom: 0rem;
  }
}

@media (min-width: 750px) and (max-width: 1050px) {
  .header {
    font-size: 1rem;
  }

  .link:hover {
    font-size: 1rem;
  }

  .icon,
  .instaIcon {
    margin: 0.2rem;
  }

  .eatsyIcon:hover {
    margin-top: -0.5rem;
    animation: scooterMove 0ms ease-out;
  }
}

@media (min-width: 600px) and (max-width: 750px) {
  .link {
    margin: 0.3rem 0.5rem 0rem 0.5rem;
    display: block;
  }

  .icon,
  .instaIcon {
    margin: 0;
  }

  .bottom {
    margin-top: 1rem;
  }

  .eatsyIcon:hover {
    margin-top: -0.5rem;
    animation: scooterMove 0ms ease-out;
  }
}

@media (max-width: 600px) {
  .container {
    margin-top: 3rem;
    padding-bottom: 1rem;
  }

  .eatsyIcon {
    width: 5rem;
    margin-bottom: -0.5rem;
  }

  .bottom {
    padding-top: 1rem;
  }

  .header {
    font-size: 1rem;
    margin-top: 1.2rem;
  }

  .link {
    margin: 0.3rem 0rem 0rem 0rem;
    font-size: 0.8rem;
  }

  .link:hover {
    font-size: 1rem;
  }

  .icon,
  .instaIcon {
    font-size: 2rem;
    margin: 0rem;
  }

  .eatsyIcon:hover {
    margin-top: -0.5rem;
    animation: scooterMove 0ms ease-out;
  }
}

@keyframes scooterMove {
  0% {
    transform: scale(1.1) rotateZ(0);
  }
  2% {
    transform: scale(1.2) rotateZ(10deg);
  }
  4% {
    transform: scale(1.3) rotateZ(0);
  }
  6% {
    transform: scale(1.3) rotateZ(-10deg);
  }
  8% {
    transform: scale(1.3) rotateZ(0deg);
  }
  10% {
    transform: scale(1.3) rotateZ(10deg);
  }
  12% {
    transform: scale(1.3) rotateZ(0);
  }
  17% {
    transform: scale(1.3) translateX(100px) translateY(-3px);
  }
  22% {
    transform: scale(1.3) translateX(200px) translateY(3px);
  }
  27% {
    transform: scale(1.3) translateX(300px) translateY(-3px);
  }
  32% {
    transform: scale(1.3) translateX(400px) translateY(3px);
  }
  37% {
    transform: scale(1.3) translateX(500px) translateY(-3px);
  }
  42% {
    opacity: 1;
    transform: scale(1.3) translateX(600px) translateY(3px);
  }
  47% {
    opacity: 0;
    transform: scale(1.3) translateX(700px) translateY(-3px);
  }
  52% {
    opacity: 0;
    transform: scale(1.3) translateX(700px) translateY(3px);
  }
  57% {
    opacity: 0;
    transform: scale(1.3) translateX(-700px) translateY(-3px);
  }
  62% {
    opacity: 0;
    transform: scale(1.3) translateX(-700px) translateY(3px);
  }
  67% {
    opacity: 1;
    transform: scale(1.3) translateX(-700px) translateY(-3px);
  }
  72% {
    transform: scale(1.3) translateX(-600px) translateY(3px);
  }
  77% {
    transform: scale(1.3) translateX(-500px) translateY(-3px);
  }
  82% {
    transform: scale(1.3) translateX(-400px) translateY(3px);
  }
  87% {
    transform: scale(1.3) translateX(-300px) translateY(-3px);
  }
  91% {
    transform: scale(1.3) translateX(-200px) translateY(3px);
  }
  95% {
    transform: scale(1.2) translateX(-100px) translateY(-3px);
  }
  100% {
    transform: scale(1.1) translateX(0px) translateY(3px);
  }
}
