.tool {
  display: flex;
  flex-direction: row;
  padding: 0.3rem 2rem;
}

.navBarBg {
  background-color: rgb(255, 219, 88);
  position: sticky;
  top: 0;
  z-index: 10;
  box-shadow: 0 0 15px gray;
}

.cartButton {
  margin: auto 0;
  margin-left: auto;
}

/***************************************** Eatsy Icon styling!! ***********************************************/

.eatsyIcon {
  height: 3rem;
  width: 3rem;
  border-radius: 3rem;
  background-color: white;
}

.eatsyIcon:hover {
  outline: none;
  background-color: rgb(255, 219, 88);
  animation: scooterMove 0.5s ease-in-out infinite;
}

.eatsyContainer1 {
  display: flex;
}

.eatsyContainer2 {
  display: none;
}

/***************************************** Nav uncollapse MainLink styling!! ***********************************************/

.mainLinkDiv {
  display: flex;
  flex-grow: 1;
  flex-direction: row;
}

.mainLinkButton {
  font-family: "Roboto Slab";
  border: none;
  text-transform: uppercase;
  background-color: rgb(255, 219, 88);
  color: brown;
  cursor: pointer;
  padding: 0 0.5rem;
  display: block;
  font-weight: bold;
  margin: auto 0.1rem;
  font-size: 1rem;
  transition: all 0.2s ease-in-out;
}

.mainLinkButton:hover,
.mainLinkButton:active,
.mainLinkButton:focus {
  text-decoration: underline;
  text-underline-offset: 5px;
  font-weight: 700;
  transform: scale(1.05);
  background-color: rgba(0, 0, 0, 0);
}

/***************************************** Collapse Nav Menu Modal styling!! ***********************************************/

.modalIconContainer {
  background-color: white;
  width: fit-content;
  border-radius: 0.3rem;
  box-shadow: 0 0 5px grey;
  position: absolute;
  top: -6rem;
  left: 5rem;
}

.link {
  color: brown;
  text-align: center;
  display: inline-block;
  text-transform: capitalize;
  width: 100%;
  padding: 0.7rem 1rem;
  font-size: 1.1rem;
}

.link:hover {
  background-color: rgb(226, 225, 225);
}

.iconButton {
  transition: all 0.1s ease-in-out;
}

.iconButton:hover {
  transform: scale(1.2);
}

/***************************************** Profile Picture Icon styling!! ***********************************************/

.profileAvatar1 {
  color: rgb(255, 219, 88);
  background-color: white;
  height: 2.8rem;
  width: 2.8rem;
  transition: all 0.1s ease-in-out;
  border-radius: 50%;
}

.profileAvatar2 {
  color: rgb(255, 219, 88);
  background-color: rgb(16, 80, 16);
  margin-top: 0.1rem;
  transition: all 0.1s ease-in-out;
  border-radius: 50%;
}

.profileAvatar1:hover,
.profileAvatar2:hover {
  background-color: brown;
  transform: scale(1.2);
}

/***************************************** Search Modal Styling!! ***********************************************/

.modalContainer {
  display: flex;
  justify-content: center;
  font-family: "Roboto Slab";
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
  text-align: center;
  margin-top: 1rem;
  color: rgba(255, 255, 255, 0.8);
}

.selectForm {
  background-color: white;
  width: 50%;
  border-radius: 0.5rem;
  margin: 0rem auto;
}

.searchSelect {
  font-size: 1.1rem;
  width: 100%;
  height: 3rem;
  background-color: white;
  opacity: 1;
  border-radius: 0.3rem;
  border: 3px solid black;
  text-indent: 0.5rem;
}

.searchSelect:hover,
.searchParameter:hover {
  box-shadow: 0 0 5px rgb(255, 219, 88);
}

.searchParameter {
  background-color: white;
  border-radius: 0.3rem;
  margin: 0rem auto;
  height: 3rem;
  width: 50%;
  font-size: 1.1rem;
  border: 3px solid black;
  text-indent: 0.5rem;
}

.searchTitle {
  color: black;
  font-size: 3.5rem;
  font-weight: bold;
  text-transform: uppercase;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgba(255, 219, 88, 0.8);
}

.searchSubmitButton {
  margin: 0rem auto;
  background-color: white;
  width: 50%;
  font-size: 1.5rem;
  color: rgb(16, 80, 16);
  border: 3px solid black;
  border-radius: 0.3rem;
  cursor: pointer;
  padding: 0.3rem 0rem;
  transition: all 0.1s ease-in-out;
}

.searchSubmitButton:hover {
  background-color: rgba(255, 219, 88);
  border: 3px solid rgb(16, 80, 16);
  box-shadow: 0 0 5px rgb(255, 219, 88);
  font-weight: bold;
}

.searchSubmitButton:active {
  background-color: rgba(255, 219, 88);
  font-weight: bold;
  transform: scale(1.05);
}

.modalCloseButton {
  position: absolute;
  right: 2%;
  top: 0.2%;
  background-color: rgba(0, 0, 0, 1);
  border-radius: 50%;
  border: none;
  height: 3.5rem;
  width: 3.5rem;
  border: 2px solid white;
  transition: all 0.1s ease-in-out;
}

.modalCLoseIcon {
  font-size: 2.5rem;
  font-weight: bold;
  margin-top: 0.1rem;
  color: rgba(255, 255, 255, 1);
  transition: all 0.1s ease-in-out;
  cursor: pointer;
}

.modalCLoseIcon:hover,
.modalCloseButton:hover {
  transform: scale(1.1);
}

/***************************************** NavBarSearch button Styling!! ***********************************************/

.searchButton {
  border-radius: 50%;
  margin: 0.5rem 0.8rem 0.5rem 0;
  width: 2.5rem;
  height: 2.5rem;
  cursor: pointer;
  border: none;
  background-color: rgba(255, 255, 255, 0.6);
  transition: all 0.1s ease-in-out;
}

.searchButton:hover {
  transform: scale(1.2);
  background-color: rgba(255, 255, 255, 0.4);
}

.searchButton:active {
  background-color: brown;
}

.searchIcon {
  font-size: 1.5rem;
  color: rgba(0, 0, 0, 0.4);
}

.searchButton:active .searchIcon {
  color: rgb(255, 219, 88);
}

/***************************************** NavCartButton Styling!! ***********************************************/

.buttons {
  cursor: pointer;
  font: inherit;
  border: none;
  background-color: rgba(0, 0, 0, 0);
  padding: 0.2rem 0rem 0.2rem 0.5rem;
  margin-right: 0.5rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 25px;
  font-size: 1rem;
  font-weight: bold;
  transition: all 0.3s ease-in-out;
}

.buttons:hover,
.buttons:active {
  background-color: brown;
  transform: scale(1.1);
  color: rgb(255, 219, 88);
}

.icons {
  width: 1.7rem;
  height: 1.7rem;
  color: brown;
}

.buttons:hover .icons {
  color: rgb(255, 219, 88);
}

.badges {
  background-color: rgb(255, 219, 88);
  font-size: 1.3rem;
  padding: 0rem 0.7rem;
  border-radius: 25px;
  margin-left: 0.2rem;
  color: rgb(165, 42, 42);
  transition: all 0.3s ease-in-out;
}

.buttons:hover .badges {
  background-color: brown;
  color: rgb(255, 219, 88);
}

.bump {
  animation: bump 300ms ease-out;
}

@keyframes bump {
  0% {
    transform: scale(1) rotateZ(0);
  }
  20% {
    transform: scale(0.9) rotateZ(15deg);
  }
  40% {
    transform: scale(1.1) rotateZ(0);
  }
  50% {
    transform: scale(1.15) rotateZ(-15deg);
  }
  60% {
    transform: scale(1) rotateZ(0);
  }
  70% {
    transform: scale(1.15) rotateZ(15deg);
  }
  80% {
    transform: scale(1) rotateZ(0);
  }
  100% {
    transform: scale(0.9) rotateZ(-15deg);
  }
}

/***************************************** End NavCartButton Styling!! ***********************************************/

@keyframes scooterMove {
  0% {
    transform: scale(1.3) rotateZ(0);
  }
  20% {
    transform: scale(1.3) rotateZ(10deg);
  }
  40% {
    transform: scale(1.3) rotateZ(0);
  }
  55% {
    transform: scale(1.3) rotateZ(-10deg);
  }
  70% {
    transform: scale(1.3) rotateZ(0deg);
  }
  85% {
    transform: scale(1.3) rotateZ(10deg);
  }
  100% {
    transform: scale(1.3) rotateZ(0deg);
  }
}

@media (max-width: 900px) {
  .searchTitle {
    font-size: 2.5rem;
  }

  .modalCLoseIcon {
    font-size: 2.5rem;
  }

  .eatsyContainer1 {
    display: none;
  }

  .eatsyContainer2 {
    display: flex;
  }
}

@media (max-width: 600px) {
  .word1 {
    display: none;
  }
  .modalCLoseIcon {
    font-size: 2rem;
  }
  .modalCloseButton {
    width: 3rem;
    height: 3rem;
  }
}

@media (max-width: 900px) {
  .mainLinkButton {
    padding: 0;
    margin: 0;
    font-size: 0.1rem;
    display: none;
  }
}
