.content {
  max-width: 100%;
  overflow-x: hidden;
  margin: 0 auto;
}

.title1 {
  font-family: "Roboto Slab";
  font-size: 1.8rem;
  font-weight: bold;
  text-align: center;
  margin-top: 1rem;
  color: brown;
}

.title2 {
  font-family: "Roboto Slab";
  font-size: 2.3rem;
  font-weight: bold;
  text-align: center;
  margin: 1rem 0 1.5rem 0;
  color: rgb(16, 80, 16);
}

.mealPosition {
  position: absolute;
  top: 1.1rem;
  left: 1.4rem;
  z-index: 2;
  font-weight: bold;
  font-size: 1.2rem;
  color: brown;
  margin: auto;
  animation: numberMove 2s ease-out;
  animation-iteration-count: infinite;
}

.starIcon {
  position: absolute;
  top: 0rem;
  left: 0rem;
  font-size: 3.5rem;
  color: rgb(255, 218, 85);
  animation: starMove 2s ease-out;
  animation-iteration-count: infinite;
}

.card {
  height: 17rem;
  max-height: 19rem;
  display: flex;
  flex-direction: column;
  max-width: 16rem;
  position: relative;
  border: 2px solid rgba(165, 42, 42, 0.3);
  border-radius: 0.5rem;
  margin: 1rem 2rem;
  background-color: rgba(255, 219, 88, 0.1);
  box-shadow: 0px 0px 10px rgb(126, 126, 126);
  transition: transform 0.3s;
}

.card:hover {
  transform: scale(1.1);
}

.cardHeader {
  font-family: "Roboto Slab";
  display: flex;
  font-size: 1.3rem;
  justify-content: center;
  margin: 0.7rem;
  font-weight: bold;
  color: brown;
}

.cardImage {
  width: 100%;
  height: 10rem;
  max-width: 100%;
  object-fit: cover;
  border-top-left-radius: 0.4rem;
  border-top-right-radius: 0.4rem;
}

.buttonCart {
  display: inline-block;
  background-color: rgb(16, 80, 16);
  color: #fff;
  border: 2px solid rgb(16, 80, 16);
  padding: 0.6rem 0.5rem 0.4rem 0.5rem;
  cursor: pointer;
  text-decoration: none;
  width: 33.33%;
  right: 33.33%;
  position: absolute;
  bottom: 0;
  border-radius: 0;
  transition: background-color 0.3s ease-out;
}

.buttonCart:focus {
  outline: none;
}

.buttonCart:hover {
  background-color: white;
  color: rgb(16, 80, 16);
  border: 2px solid rgb(16, 80, 16) e;
}

.spanPrice {
  display: inline-block;
  position: absolute;
  width: 33.333%;
  right: 0;
  bottom: 0;
  text-align: center;
  border: 2px solid rgb(255, 219, 88);
  padding: 0.4rem 0.8rem 0.6rem 0.8rem;
  font-size: 1.5rem;
  font-weight: bold;
  border-bottom-right-radius: 0.4rem;
  background-color: rgb(255, 219, 88);
}

.buttonDetails {
  display: inline-block;
  background-color: brown;
  color: #fff;
  border: 2px solid brown;
  padding: 0.6rem 0.5rem 0.4rem 0.5rem;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  width: 33.33%;
  right: 66.666%;
  position: absolute;
  bottom: 0;
  border-radius: 0;
  border-bottom-left-radius: 0.4rem;
  transition: background-color 0.3s ease-out;
}

.buttonDetails:focus {
  outline: none;
}

.buttonDetails:hover {
  background-color: white;
  color: brown;
}

@media (max-width: 550px) {
  .title1 {
    font-size: 1.4rem;
    margin-top: 1rem;
  }

  .title2 {
    font-size: 2rem;
    margin: 0.8rem 0;
  }

  .card {
    height: 5rem;
    max-width: 12rem;
  }

  .card:hover {
    transform: scale(1.1);
  }

  .cardHeader {
    font-size: 0.8rem;
    justify-content: center;
    margin: 0rem;
  }

  .cardImage {
    width: 0%;
    min-height: 0rem;
  }

  .buttonCart {
    padding: 0.4rem 0rem 0rem 0rem;
    font-size: 0.5rem;
  }

  .spanPrice {
    padding: 0.5rem 0.6rem 0.3rem 0.6rem;
    font-size: 1.2rem;
  }

  .buttonDetails {
    padding: 0.4rem 0rem 0rem 0rem;
    font-size: 0.5rem;
  }
}

@media (max-width: 400px) {
  .title1 {
    font-size: 1.4rem;
    margin-top: 1rem;
  }

  .title2 {
    font-size: 1.6rem;
    margin: 0.8rem 0;
  }

  .mealPosition,
  .starIcon {
    display: none;
  }

  .card {
    height: 5rem;
    margin: 1rem 0rem;
    max-width: 11rem;
  }

  .card:hover {
    transform: scale(1.1);
  }

  .cardHeader {
    display: flex;
    font-size: 1.1rem;
    justify-content: center;
    margin: 0.5rem;
  }

  .cardImage {
    width: 0%;
    height: 0rem;
  }

  .buttonCart {
    padding: 0.4rem 0rem 0rem 0rem;
    font-size: 0.5rem;
    right: 30.666%;
  }

  .spanPrice {
    padding: 0.5rem 0.5rem 0.3rem 0.5rem;

    font-size: 1.05rem;
  }

  .buttonDetails {
    padding: 0.4rem 0rem 0rem 0rem;
    font-size: 0.5rem;
    right: 62.666%;
  }
}

@keyframes starMove {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(1.2);
    color: rgb(251, 255, 0);
  }
  75% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes numberMove {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(1.2);
  }
  75% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
