.container {
  position: relative;
  display: block;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  width: 40%;
  text-align: center;
  margin: 8rem auto 6rem auto;
  border-radius: 1rem;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.6);
  z-index: 1;
}

.container::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 1rem;
  background-image: url("/eatsyIcons/EatsyIcon.jpeg");
  background-size: 12rem;
  background-repeat: space;
  opacity: 0.1;
  z-index: -1;
}

.regLoading {
  font-size: 2rem;
  font-weight: 500;
}

.submitButton {
  display: inline-block;
  font-size: 1.5rem;
  font-weight: bold;
  letter-spacing: 0.2rem;
  color: rgb(255, 219, 88);
  background-color: rgb(16, 80, 16);
  width: 41%;
  padding: 0.5rem 0;
  margin: 1rem 0;
  border: 2px solid rgb(16, 80, 16);
  cursor: pointer;
  transition: background-color 0.2s;
  border-radius: 0.2rem;
}

.submitButton:hover {
  background-color: rgb(255, 219, 88);
  color: brown;
  border: 2px solid rgb(83, 20, 20);
}

@media (max-width: 1380px) {
  .container {
    width: 45%;
  }
}

@media (max-width: 1280px) {
  .container {
    width: 55%;
  }
}

@media (max-width: 800px) {
  .container {
    width: 70%;
  }
}

@media (max-width: 500px) {
  .container {
    width: 85%;
  }
  .submitButton {
    font-size: 1rem;
  }
}
