.box {
  display: flex;
  flex-wrap: wrap;
  background-color: white;
  padding: 0rem;
  border-radius: 1rem;
  width: 85%;
  justify-content: space-evenly;
  text-align: center;
  margin: 1rem auto 0rem auto;
}

.card {
  margin: 0.7rem;
  flex: 0 0 5.5%;
  background-color: white;
  border-radius: 1rem;
  height: 4.2rem;
  width: 5rem;
  min-width: 4.3rem;
  border: 1px solid rgb(16, 80, 16);
  box-shadow: 1px 2px 2px black;
  transition: all 0s ease-in-out;
}

.word {
  display: block;
  text-align: center;
  font-size: 0.7rem;
  font-weight: bolder;
  align-content: center;
  margin-top: 0.2rem;
  color: rgb(16, 80, 16);
  white-space: nowrap;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.imageContainer {
  background-color: white;
  border: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

.content {
  margin: 0;
  padding: 0;
}

.iconLink {
  cursor: pointer;
}

.card:hover {
  transform: scale(1.1);
}

.card:active {
  background-color: rgb(202, 202, 202);
}

.card:active .imageContainer {
  background-color: rgb(202, 202, 202);
}

@media (max-width: 600px) {
  .card {
    width: 4rem;
  }
}
