a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  font-family: "Roboto Slab";
}

html {
  font-family: "Roboto Slab";
}

body {
  font-family: "Roboto Slab";
  margin: 0;
  background-color: white;
}

input:disabled {
  cursor: not-allowed;
  background-color: rgb(230, 230, 230);
}

.wrapperContent {
  font-family: "Roboto Slab";
  background-color: white;
  flex: 1;
}

.wrapperMain {
  font-family: "Roboto Slab";
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#menu-appbar {
  position: absolute;
  top: 20px;
  left: 20px;
}

/****************************************** All page header styling *******************************************/
.pageHeader {
  margin: 1.5rem auto 1.5rem auto;
  text-transform: uppercase;
  color: rgb(16, 80, 16);
  letter-spacing: 0.1rem;
  width: fit-content;
  font-size: 3rem;
}

/****************************************** Alert type styling *******************************************/

.success {
  background-color: rgb(148, 218, 148);
  font-size: 1.1rem;
  padding: 0.3rem 0;
  border: 1px solid rgb(52, 170, 52);
  color: black;
  text-align: center;
  width: 100%;
}

.error {
  background-color: rgb(218, 148, 148);
  font-size: 1.1rem;
  padding: 0.3rem 0;
  border: 1px solid rgb(170, 52, 52);
  color: black;
  text-align: center;
  width: 100%;
}

.warning {
  background-color: rgb(218, 190, 148);
  font-size: 1.1rem;
  padding: 0.3rem 0;
  border: 1px solid rgb(170, 123, 52);
  color: black;
  text-align: center;
  width: 100%;
}

.info {
  background-color: rgb(148, 187, 218);
  font-size: 1.1rem;
  padding: 0.3rem 0;
  border: 1px solid rgb(52, 117, 170);
  color: black;
  text-align: center;
  width: 100%;
}

.success a,
.error a,
.warning a,
.info a {
  position: absolute;
  right: 1%;
  font-size: 1.3rem;
  cursor: pointer;
}

/************************************************** Scrollbar styling **************************************************/

body::-webkit-scrollbar {
  width: 15px;
}

body::-webkit-scrollbar-track {
  background: rgb(255, 240, 187);
}

body::-webkit-scrollbar-thumb {
  background-color: rgb(22, 105, 22);
  border-radius: 20px;
  border: 3px solid rgb(22, 105, 22);
}

body::-webkit-scrollbar-thumb:hover {
  background-color: rgb(20, 97, 20);
  border: 3px solid rgb(20, 97, 20);
}

body::-webkit-scrollbar-thumb:active {
  background-color: rgb(16, 80, 16);
  border: 3px solid rgb(16, 80, 16);
}

::-webkit-scrollbar-button:single-button {
  /* general style for Up and down scroll button */
  background-color: rgb(230, 220, 184);
  display: block;
  border-style: solid;
  height: 14px;
  width: 16px;
}

::-webkit-scrollbar-button:single-button:vertical:decrement {
  /* Up arrow scroll button */
  border-width: 0 8px 8px 8px;
  border-color: transparent transparent rgb(29, 133, 29) transparent;
}

::-webkit-scrollbar-button:single-button:vertical:decrement:hover {
  background-color: rgb(194, 211, 201);
  border-color: transparent transparent rgb(29, 133, 29) transparent;
}

::-webkit-scrollbar-button:single-button:vertical:increment {
  /* down arrow scroll button */
  border-width: 8px 8px 0 8px;
  border-color: rgb(29, 133, 29) transparent transparent transparent;
}

::-webkit-scrollbar-button:vertical:single-button:increment:hover {
  background-color: rgb(194, 211, 201);
  border-color: rgb(29, 133, 29) transparent transparent transparent;
}

/************************************************** btnScrollUp button styling for GetAllProduct Page page **************************************************/

#btnScrollUp {
  position: fixed;
  z-index: 10;
  right: 2%;
  bottom: 2%;
  height: 3rem;
  width: 3rem;
  background: rgb(16, 80, 16);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-color: black;
  color: rgb(255, 219, 88);
  border: none;
  outline: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

#btnScrollUp:hover {
  transform: scale(1.07);
  background: rgb(255, 219, 88);
  transition: 0.2s;
  color: rgb(16, 80, 16);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

#btnScrollUp:hover:active {
  transform: scale(1.07);
  background: rgb(255, 200, 0);
  color: rgb(16, 80, 16);
  transition: 0.2s;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

@media (max-width: 600px) {
  .pageHeader {
    font-size: 1.8rem;
  }
}
